
:root {
    --var-bgcolor: white;
    --var-fontcolor: black;
    --var-bg: rgb(52, 56, 61);
    --var-ft: white;
}

[dark] {
    --var-bgcolor: rgb(52, 56, 61);
    --var-fontcolor: white;
    --var-bg: white;
    --var-ft: black;
}

.top-menu {
    display: flex;
    z-index: 1000;
    background: var(--var-bgcolor);
}

.menu-main {
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu-main li {
    display: inline-block; /*меню в строку*/
    margin-right: -4.3px;
}

.menu-main a {
    display: block;
    padding: 15px 32px; /*ширина и высота меню*/
    color: var(--var-fontcolor);
    text-decoration: none;
}

.menu-main a.current{
    color: var(--var-ft);
    font-weight: bold;
    background: var(--var-bg);
}

.menu-main a:hover {
    background: var(--var-bg);
    color: var(--var-ft)

}

@media (max-width: 910px) {
    .top-menu {
        margin: 0;
        position: fixed;}
    .menu-main li {
        display: block;
        /*float: right;*/
        margin-right: 0;
    }
    .menu-main a {display: block;}

}

.logo {
    width: 300px;
}