@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

*{
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}


:root {
	--var-bgcolor: white;
	--var-fontcolor: black;
	--var-bg: rgb(52, 56, 61);
	--var-ft: white;
}

[dark] {
	--var-bgcolor: rgb(52, 56, 61);
	--var-fontcolor: white;
	--var-bg: #fff;
	--var-ft: black;
}

body {
	background-color: var(--var-bgcolor);
	color: var(--var-fontcolor);
}



h1{

	margin: 20px auto 0;
	width: 200px;
	text-align: center;
}
#wrapper{
	position: absolute;
	width: 320px;
	left: 50%;
	margin-left: -160px;
	top: 50%;
	margin-top: -75px;
}


#signin {

	height: 90px;
	width: 300px;
	border-radius: 8px;
	position: relative;
}
#signin::before {
	display: block;
	position: relative;
	height: 2px;
	content: '';
	top: 44px;
	margin-left: 20px;
	z-index: 1;
}
#signin input:first-of-type{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
#signin input:last-of-type{
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

#signin  input[type="text"], #signin  input[type="password"]{
	position: relative;
	display: block;
	width: 280px;
	height: 45px;
	border: 0;
	outline: 0;
	top: -2px;
	padding: 0 0 0 20px;
	font-weight: 700;
	background-color: var(--var-bg);
	color: var(--var-ft);
}

#signin button[type="submit"]{
	display: block;
	position: absolute;
	width: 52px;
	height: 52px;
	border-radius: 50px;
	outline: 0;
	z-index: 2;
	top: 19px;
	right: -24px;
	font-size: 25px;
	text-indent: 0px;
	padding-left: 9px;
	padding-bottom: 3px;
	text-align: center;
}

#signin button[type="submit"]:hover{
	cursor: pointer;
}


#signin p {
	padding: 0 20px;
	font-weight: 700;
	font-size: 12px;
	margin: 5px 0 0 0;
}
#signin p > a {
	text-decoration: none;
	color: var(--var-fontcolor);
}
#signin p > a:hover {
	color: var(--var-fontcolor);
}



